/* Flags navigation */
.flagselect {
  /*border: 1px solid #333333;*/
  padding: 0px;
  margin: 0px;
  font-weight: bold;
  color: black;
  font-size: 150%;
}

.flagnoselect {
  padding: 0px;
  margin: 0px;
  color: #666;
  font-size: 150%;
}

.ui.image {
  max-width: 30%;
}
